<div class="modal fade" id="logoutModals" tabindex="-1" aria-labelledby="logoutModals" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Message</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body justify-content-center p-4">
				Are you sure to logout ?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
				<a class="btn btn-primary" href="">Yes</a>
			</div>
		</div>
	</div>
</div>