<div class="modal fade" id="restart_sim" tabindex="-1" aria-labelledby="restart_sim" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="/request/update" method="post">
				<div class="modal-header">
					<h5 class="modal-title" id="newKeyModals">Restart</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body justify-content-center p-4 d-none">
					<input type="text" name="id" placeholder="_id" id="_idrestart" class="w-100 p-2 rounded border"
						required>
				</div>
				<div class="modal-body justify-content-center p-4 d-none">
					<input type="text" name="status" placeholder="status" id="status_restart"
						class="w-100 p-2 rounded border" required>
				</div>
				<div class="modal-body justify-content-center p-4">
					<input type="text" name="key" placeholder="Enter type" id="uniqkeys"
						class="w-100 p-2 rounded border" required>
					<div>Please type <span id="typeRamdom" class="font-weight-bolder"></span> to confirm.</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Send</button>
				</div>
			</form>
		</div>
	</div>
</div>