<%- include('../template/header') -%>

<main class="main-content mt-0 container-screen">
    <div class="d-flex flex-column center-screen">
        <div class="flex">
            <h1>
                <%= errorCode %>
            </h1>
        </div>
        <div class="flex">
            <p>
                <%= errorMessage %>
            </p>
        </div>
    </div>

    <%- include('../template/footer') -%>