	</main>
	<!-- modal -->
	<%- include("../modals/general_modals/confirm_logout") -%>

	<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
	<script src="/javascripts/material-dashboard.min.js?v=3.0.0"></script>
	</body>
</html>