<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon.png">
	<link rel="icon" type="image/png" href="/images/favicon.png">
	<title>
		<%= title %>
	</title>
	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css"
		href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

	<!-- Nucleo Icons -->
	<link href="/stylesheets/nucleo-icons.css" rel="stylesheet" />
	<link href="/stylesheets/nucleo-svg.css" rel="stylesheet" />

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
		integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

	<!-- Material Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
	<!-- CSS Files -->
	<link id="pagestyle" href="/stylesheets/material-dashboard.css?v=3.0.0" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/modals.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/error_style.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/datatables.min.css" />

	<!--   Core JS Files   -->
	<script src="/javascripts/jquery-3.6.0.min.js"></script>
	<script src="/javascripts/sweetalert.min.js"></script>
	<script src="/javascripts/core/popper.min.js"></script>
	<script src="/javascripts/core/bootstrap.min.js"></script>
	<script src="/javascripts/plugins/perfect-scrollbar.min.js"></script>
	<script src="/javascripts/plugins/smooth-scrollbar.min.js"></script>
	<script src="/javascripts/datatables.min.js"></script>
	<script src="/javascripts/header_script.js"></script>
	<script src="/javascripts/socket.io.js"></script>
	<script src="/javascripts/socket.js"></script>

	<script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
	<script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
</head>

<body class="g-sidenav-show" style="background-color: #1e1d24;">